# Python & Django
__pycache__/
*.py[cod]
*.pyo
venv/
env/

# Datenbank (Auf keinen Fall die Live-Datenbank ins Git packen!)
db.sqlite3
db_data/

# Statische Dateien & Medien (werden meist vom Server generiert)
staticfiles/
media/

# Lokale Umgebungsvariablen (für Passwörter)
.env

# MacOS / Windows Systemdateien
.DS_Store
Thumbs.db